[2019-03-15 02:51] VPBelo opened #1 "Compliance Error"
**Issue:** Redirect to payments module after clicking in case number.
-Confirmation is needed for compliance after clicking submit button and not closing the page.
-Provide description for compliance remarks.
-more_vert button is not working.
**Module:** Compliance

**Actual Result:**
Failed, User should know where to view or click in compliance details.

![nineten](https://user-images.githubuserc

[2019-03-15 03:04] VPBelo opened #2 "Payment for VARIATION, COMPLIANCE, APPLY NEW LICENSE and RENEWAL LICENSE not working (error: Fee is null)"
**Issue:** Confirmation is needed for payment if successful or not paid and not closing after clicking next button no idea/action how to proceed in next step.
-No comma for amount of Total.
-ECPAY button is not working.
**Module:** Payment

![four](https://user-images.githubusercontent.com/34052250/54405589-1f341080-4712-11e9-94bb-04bd12ee9ac6.PNG)
![seven](https://user-images.githubusercontent.co

[2019-03-15 03:17] VPBelo opened #3 "Inputting in Credit card details error"
**Issue:** No confirmation or prompted message for payment if successful or not paid and not closing after clicking submit.
-CVC field has no limit in three digits.
**Module:** Payment

![five](https://user-images.githubusercontent.com/34052250/54406082-b9488880-4713-11e9-801d-bd0d25baebf3.PNG)
![six](https://user-images.githubusercontent.com/34052250/54406083-b9e11f00-4713-11e9-811e-badc44687489.

[2019-03-15 05:56] VPBelo opened #4 "Email confirmation for New License Application/Registration"
**Issue**: No confirmation or prompted message if the new license is completed or done.
-name of user display as object.
**Module**: New License

**Expected Result:**
Can email confirmation
Can confirm by clicking the button or link in email
**Actual Result:**
Failed, link is in localhost. need to run client portal in localhost to confirm

![One](https://user-images.githubusercontent.com/34052250/

[2019-03-15 06:35] VPBelo opened #5 "New License Input field Error"
**Issue:** No close button/ Back button and Fix UI for general information in additional activity chips selected no close per data.
-Landline, Fax and mobile number should be masked in Contact Information.
-No digit limit in ID Number in Government Issued identification document.
**Module:** New License
![c](https://user-images.githubusercontent.com/34052250/54413028-6977ba80-472f-11e9-986d-ed662e

[2019-03-15 06:48] VPBelo opened #6 "Documents Upload Error"
**Issue:** Can't save file to DB in Documents Upload.
-No label or message only PDF file accepted.
-No prompted message if successful uploaded documents or fail.

**Module:** Registration

**Expected Result:**
Can upload and save documents required.
**Actual Result:**
Failed, Can't stored attached file to db.

![fiftyen](https://user-images.githubusercontent.com/34052250/54413481-cb84ef80-4730-11e

[2019-03-15 06:58] VPBelo opened #7 "Lack of data get in DB in Mailing Address/Office Address"
**Issue:** Lack of data get in DB for provinces, cities fields and zip code not working in mailing and office address.
**Module:** New License

**Expected Result:**
Can type/Input client

![j](https://user-images.githubusercontent.com/34052250/54413944-7fd34580-4732-11e9-854e-4cd5138aa807.PNG)
![t](https://user-images.githubusercontent.com/34052250/54413946-806bdc00-4732-11e9-9cd5-7bdd4442eb61.PNG

[2019-03-15 07:40] VPBelo opened #8 "Change password error"
**Issue**: Did not save any changes for changing password.
-Fixing of submit button is big.
**Module**: Password Settings

Expected Result:
Can type/edit client

Actual Result:
Failed, User cannot login using new password.
![eeee](https://user-images.githubusercontent.com/34052250/54415801-6208df00-4738-11e9-8b3a-b6a5e3361d19.PNG)
![iiiiii](https://user-images.githubusercontent.com/34052250/544158

[2019-03-15 07:51] VPBelo opened #9 "My Profile Error"
**Issue:** Company details must pre filled and User details did not save any changes
**Module**: My Profile

Expected Result:
Can type/Edit client

Actual Result:
Failed, User edit details but did not save any changes.
![lllllll](https://user-images.githubusercontent.com/34052250/54416379-28d16e80-473a-11e9-92dc-02a8c1cac8c4.PNG)

[2019-03-15 08:01] VPBelo opened #10 "View License Application Error"
**Issue**: Created By and Product line formated by ID.
-Tin not formatted in masking and Address is undefined.
**Module:** View License Application

**Expected Result:**
Can view Application data details

![bbbbbbbbbbbbbb](https://user-images.githubusercontent.com/34052250/54416727-2e7b8400-473b-11e9-8e8e-5b4e2d756cd2.PNG)
![eeeeeewee](https://user-images.githubusercontent.com/34052250/54416729-2e

[2019-03-18 03:34] fqui8 opened #11 "Avatar"
- Expected Result
- [ ] Approver's uploaded avatar will display
- can upload approver's avatar

- Actual Result
- [ ] Failed. Avatar displayed is random
- [ ] Failed. no option to upload avatar

- Remarks
- [ ] uploading of avatar should be included in the My Profile page

![Screen Shot 2019-03-18 at 11 30 35 AM](https://user-images.githubusercontent.com/36065227/54505165-adf29880-4971-11e9-9bac-8

[2019-03-18 06:07] fqui8 commented on #5
**- Deployment version 0.1.16**
**- File path: fda-client-portal/src/views/app/licenses/create**

**- Resolution:**
- [ ] Phone/Fax number masked to 10-digit numbering format including area code.
- [ ] Mobile number masked to 11-digit numbering format.
- [ ] ID Number cannot be masked due to different counts of ID Number depending on the ID Type
- [ ] Icon displayed for next and previous button
![

[2019-03-18 06:25] mquijom opened #12 "Compliance without attached files"
**Scene: Response without attached files**

- Expected Result
Submitted successfully

- Actual Result
Didn't submit and got an error

- **Error**
`{ "name":"MongoError","message":"The argument to $each in $push must be an array but it was of type: null","operationTime":"6669604033344307202","ok":0,"errmsg":"The argument to $each in $push must be an array but it was of type: null","code":2,"codeNam

[2019-03-18 23:14] godofuri76 commented on #3
For Testing in v0.1.16

[2019-03-19 00:45] fqui8 commented on #1
**- Deployment version: 0.1.16**
**- File Path: fda-client-portal/src/components/Compliance.vue**

**- Resolution:**
- [ ]  view button has been added to prevent clicking the entire list
- [ ] confirmation has been added

[2019-03-19 02:19] #1 closed, assigned to godofuri76, Wandelacruz

[2019-03-19 02:21] #3 closed, assigned to godofuri76, Wandelacruz

[2019-03-19 23:56] mquijom opened #13 "Credit Card Form"
**Scene: Payment thru credit card**

Missing options of **Province** and **City/Town**

![image](https://user-images.githubusercontent.com/34019450/54649427-2463d780-4ae5-11e9-9d36-4161193e8b42.png)

[2019-03-20 00:17] #5 closed, assigned to godofuri76, Wandelacruz

[2019-03-21 01:48] mquijom commented on #12
Deployment Version: **0.1.20**

Files:
- **fda-services-lto/case_router.js**

Remarks:
Fixed by adding condition if **attached files** is **not null**

[2019-03-22 01:44] fqui8 opened #14 "New License INVALID DATE"
- Scenario
- [ ] Created/Applied new license

-  Expected Result
- [ ] can create and submit

- Actual
- [ ] Success, but date is null
![Screen Shot 2019-03-22 at 9 20 07 AM](https://user-images.githubusercontent.com/36065227/54795374-f1f1e000-4c86-11e9-8cfa-c515e93ee16e.png)

[2019-03-22 09:33] mquijom commented on #8
Deployment Version: **0.1.21**

Files:
- **fda-client-portal/views/app/passwordSettings/ChangePassword.vue**
- **fda-client-portal/views/app/passwordSettings/ResetPassword.vue**
- **fda-client-portal/store/modules/user_session.js**
- **fda-client-portal/api/PasswordAPI.js**
- **fda-services-accounts/api/routes/accounts_router.js**
- **fda-services-notifications/api/routes/notifications_router.js**

[2019-03-24 11:22] fqui8 opened #15 "UI- Portal version"
Expected Result:
will display version in page footer

Actual Result:
failed

Remarks:
must display version

[2019-03-24 11:28] fqui8 commented on #15
![Screen Shot 2019-03-24 at 7 22 50 PM](https://user-images.githubusercontent.com/36065227/54878629-3be6eb80-4e6a-11e9-862a-e8e853ba55d5.png)

- For deployment v.1.21
- File path:
- [ ] fda-client-portal/src/layout/MainLayout.vue

- Resolution:
- [ ] added {{app version}} in the main layout page
- created a method
`app_version() {`
      `return process.env.VUE_APP_VERSION;`

[2019-03-25 00:09] kyango commented on #15
closed

[2019-03-25 00:09] #15 closed, assigned to Wandelacruz

[2019-03-26 03:21] VPBelo opened #16 "Minor - Sidebar menu and sidebar toggle not working when it minimize"
Issue: Sidenav not showing when i minimize the browser.
Module: Dashboard

Expected Result:
Can clickable the Sidebar menu and sidebar toggle.
![SideBar](https://user-images.githubusercontent.com/34052250/54969475-38ae4580-4fb9-11e9-8818-495a5e74aa14.PNG)

[2019-03-26 05:37] kyango commented on #8
Closing Issue

[2019-03-26 05:37] #8 closed, assigned to mquijom

[2019-03-26 06:17] kyango commented on #4
![image](https://user-images.githubusercontent.com/34019477/54975384-de6dae80-4fd1-11e9-8637-4dff1851be96.png)

[2019-03-26 06:18] kyango commented on #4
this issue has been fixed and for testing

[2019-03-26 06:21] mquijom commented on #6
Hi @VPBelo, What account did you use in this test case ?

[2019-03-26 06:23] VPBelo commented on #6
username: Chz
password: Chz123

[2019-03-26 06:52] mquijom commented on #6
Deployment Version: **0.1.22**

Files:
- **fda-client-portal/components/Compliance**

Remarks
Uploading module is working fine. But still implemented the message.
***Note: Only PDF files are accepted.**

![image](https://user-images.githubusercontent.com/34019450/54975745-15908f80-4fd3-11e9-9829-914676b1ad92.png)

![image](https://user-images.githubusercontent.com/34019450/54975768-26d99c00-4fd3-1

[2019-03-27 00:48] abalita commented on #16
- Fixed.For testing v0.1.24
- Modified File(s): fda-client-portal/src/layout/UserLayout.vue
- Resolution:
Added v-model for v-navigation-drawer

`<v-navigation-drawer app :mini-variant="mini" width="250" v-model="showNav"> ... </v-navigation-drawer>`

[2019-03-27 01:22] fqui8 commented on #11
Expected Result:
- can save photos as avatar

Actual Result:
- cannot save photos

[2019-03-27 01:59] fqui8 opened #17 "Payment Table"
Scenario:
- tried to open an unpaid application and will pay thru cc or ecpay. Application is opened from payments table.
![Screen Shot 2019-03-27 at 9 24 45 AM](https://user-images.githubusercontent.com/36065227/55044874-e16eaa80-5076-11e9-9d01-bc26ac30ba4d.png)

![Screen Shot 2019-03-27 at 9 29 41 AM](https://user-images.githubusercontent.com/36065227/55043900-2e508200-5073-11e9-8aa0-e3979cd4887

[2019-03-27 02:03] fqui8 commented on #9
Related to issue #11 , uploading and saving photo avatar

[2019-03-27 03:05] fqui8 commented on #8
Back to home (closing issue) after password reset fixed

[2019-03-27 03:57] godofuri76 commented on #2
For Testing in v0.1.23
File Path: app/licenses/view
Resolution:
- passing of data from temporary access to application overview as well to full access
- change application overview inside of payment to pending/paid transaction
- add success & failed notification on credit payment
- payment summary is working just it didn't have data all data yet
- formats data id

[2019-03-27 05:48] godofuri76 commented on #13
For Testing in v0.1.23
Resolution:
- get data of region, province & city
- validation notification on cvc & submit button

[2019-03-27 05:55] fqui8 commented on #7
@VPBelo
Fixed. For deployment v.0.1.24

File path:
/fda-client-portal/src/views/app/licenses/create/tabs/OfficeAddress.vue
/fda-client-portal/src/views/app/licenses/create/tabs/AuthorizedOfficerDetails.vue

Resolved by editing script
![Screen Shot 2019-03-27 at 1 50 35 PM](https://user-images.githubusercontent.com/36065227/55053508-5d78ea80-5097-11e9-86fb-6382e2cfd04a.png)
![Screen Shot 2019-03-27

[2019-03-27 06:25] VPBelo commented on #6
Closing this issue.
 - Actual Result

![Compliance](https://user-images.githubusercontent.com/34052250/55054863-2fe27000-509c-11e9-9100-348259601c4c.PNG)

[2019-03-27 06:25] #6 closed, assigned to mquijom

[2019-03-27 06:27] VPBelo commented on #16
Closing this issue.

[2019-03-27 06:27] #16 closed, assigned to nobody

[2019-03-27 06:48] VPBelo commented on #2
Issue: Working in Credit Card field but i cannot proceed to next step.
 - Actual Result

![payment](https://user-images.githubusercontent.com/34052250/55055765-07a84080-509f-11e9-8c93-280903d5d79e.PNG)
![payment2](https://user-images.githubusercontent.com/34052250/55055767-0840d700-509f-11e9-9e6e-d8e569eeecda.PNG)
![payment3](https://user-images.githubusercontent.com/34052250/55055769-0840d700-509

[2019-03-27 06:54] VPBelo commented on #7
Closing this issue.

[2019-03-27 06:54] #7 closed, assigned to Wandelacruz

[2019-03-27 06:58] VPBelo commented on #13
Closing this issue.
 - Actual Result
![payments](https://user-images.githubusercontent.com/34052250/55056283-bbf69680-50a0-11e9-8162-a044d6dc3485.PNG)

[2019-03-27 06:58] #13 closed, assigned to godofuri76

[2019-03-27 09:54] mquijom commented on #9
Deployment Version: **0.1.24**

Modified File(s):
- **fda-client-portal/api/UserAPI.js**
- **fda-client-portal/layout/UserLayout.js**
- **fda-client-portal/plugins/mixins.js**
- **fda-client-portal/views/app/Profile.vue**

Resolutions:
Fixed. Only User Accounts available to modify

![image](https://user-images.githubusercontent.com/34019450/55066412-b73ddc80-50b8-11e9-8c02-8275d9c65525.png)

[2019-03-27 09:58] mquijom commented on #11
Deployment Version: **0.1.24**

Modified File(s):
- **fda-client-portal/api/UserAPI.js**
- **fda-client-portal/layout/UserLayout.js**
- **fda-client-portal/plugins/mixins.js**
- **fda-client-portal/views/app/Profile.vue**

Resolutions:
Fixed. Only User Accounts available to modify

![image](https://user-images.githubusercontent.com/34019450/55066412-b73ddc80-50b8-11e9-8c02-8275d9c65525.png)

[2019-03-28 04:31] VPBelo commented on #11
- Closing this issue.
  - Actual Result

![profileNew](https://user-images.githubusercontent.com/34052250/55130322-65975f80-5155-11e9-83d2-5fd3ca2e372e.PNG)

[2019-03-28 04:33] VPBelo commented on #9
Closing this issue.
  - Actual Result

![profileNew](https://user-images.githubusercontent.com/34052250/55130346-8069d400-5155-11e9-8afb-894fc66c72ec.PNG)

[2019-03-28 04:41] VPBelo commented on #4
Closing this issue.
  - Actual Result

![emailConfirm](https://user-images.githubusercontent.com/34052250/55130715-d0956600-5156-11e9-95a6-f31b6b2d2921.PNG)
![emailConfirm2](https://user-images.githubusercontent.com/34052250/55130716-d12dfc80-5156-11e9-81ce-46349d46a259.PNG)

[2019-03-28 04:41] #4 closed, assigned to nobody

[2019-03-28 04:45] VPBelo commented on #12
Closing this issue.
  - Actual Result

![Compliance2](https://user-images.githubusercontent.com/34052250/55130828-56b1ac80-5157-11e9-9ee6-19873685d22e.PNG)

[2019-03-28 04:45] #12 closed, assigned to godofuri76, mquijom

[2019-03-28 06:20] VPBelo commented on #10
**Issue:** Tin is not formatted in masking.
Credentials:
Username: Vince
Password: Vince123

  - Actual result
![ViewApplication](https://user-images.githubusercontent.com/34052250/55135810-adbf7d80-5167-11e9-8172-ad4c0c50fee9.PNG)

[2019-03-28 06:57] mquijom commented on #2
Deployment Version: **0.1.25**

Modified File(s):
- **fda-client-portal/views/app/payment/CreditCardPayment.vue**
- **fda-client-portal/plugins/mixins.js**

Resolutions:
Fixed.

![image](https://user-images.githubusercontent.com/34019450/55136485-7b168480-5169-11e9-80de-22f7d741b823.png)

![image](https://user-images.githubusercontent.com/34019450/55136549-a8fbc900-5169-11e9-9a7d-ce255d84b350.png)

[2019-03-28 08:12] VPBelo commented on #9
**Issue:** Unable to change Profile Picture. When the page is reloaded ,the same default image appears.
![profileNew](https://user-images.githubusercontent.com/34052250/55140970-46f49100-5174-11e9-8a11-f47af85338c3.PNG)

[2019-03-28 08:13] VPBelo commented on #11
**Issue:** Unable to change Profile Picture. When the page is reloaded ,the same default image appears.

![profileNew](https://user-images.githubusercontent.com/34052250/55141013-5f64ab80-5174-11e9-904b-5a67a15805af.PNG)

[2019-03-28 08:56] fqui8 opened #18 "Client Portal- Existing License"
Scenario:
- Selected "Existing License" from Home screen
![Screen Shot 2019-03-28 at 3 27 17 PM](https://user-images.githubusercontent.com/36065227/55138251-fda14300-516d-11e9-881c-3eecc9832fec.png)

Expected Result
- can match & validate existing license application
- can create username and password to access portal 3.0
- can send email confirmation that a new account has been created and ready

[2019-03-28 10:02] fqui8 opened #19 "Help button in every step Client Portal"
Expected Result:
-  can provide help, guidelines, instructions for every step
![Screen Shot 2019-03-28 at 5 43 10 PM](https://user-images.githubusercontent.com/36065227/55148503-4adbdf80-5183-11e9-9957-98572dba8d06.png)

Actual Result:
- no function yet

Remarks:
- [ ] help is an important function especially in applying license. FDA has special instructions and guidelines (i.e uploading files, et

[2019-03-28 10:10] mquijom commented on #14
Deployment Version: **0.1.25**

Modified Files:
- **fda-services-lto/api/models/LicenseModel.js**

Resolution:
Fixed by setting `date_created` in pre save.

![image](https://user-images.githubusercontent.com/34019450/55149077-714e4a80-5184-11e9-87a4-006a322f7da6.png)

[2019-03-28 23:25] mquijom commented on #11
Deployment Version: **0.1.25**

Resolution:
Deployment for **0.1.24** didn't reflected to prod

[2019-03-28 23:26] mquijom commented on #9
Deployment Version: **0.1.25**

Resolution:
Deployment for **0.1.24** didn't reflected to prod

![image](https://user-images.githubusercontent.com/34019450/55199149-fe7cb800-51f3-11e9-838b-2f5799235fc0.png)

[2019-03-28 23:27] mquijom commented on #11
![image](https://user-images.githubusercontent.com/34019450/55199172-16543c00-51f4-11e9-8bba-ca9e95a8a2d7.png)

[2019-03-29 01:18] VPBelo commented on #11
Closing this issue.
  - Actual Result

![profileclient](https://user-images.githubusercontent.com/34052250/55202733-a2219480-5203-11e9-9af0-6acba4b57ae4.PNG)
![profileclient2](https://user-images.githubusercontent.com/34052250/55202734-a2219480-5203-11e9-87dd-1e047414843d.PNG)

[2019-03-29 01:18] #11 closed, assigned to mquijom, Wandelacruz

[2019-03-29 01:20] VPBelo commented on #9
Closing this issue.
  - Actual Result

![profileclient](https://user-images.githubusercontent.com/34052250/55202782-ced5ac00-5203-11e9-98b6-4382ffb513ec.PNG)
![profileclient2](https://user-images.githubusercontent.com/34052250/55202783-ced5ac00-5203-11e9-9bef-2667ad21df68.PNG)

[2019-03-29 01:20] #9 closed, assigned to mquijom

[2019-03-29 01:32] fqui8 commented on #19
Fixed. For testing v0.1.26
File path: fda-client-portal/src/views/app/licenses/Create.vue
Resolution: Temporarily add help/instructions in tooltip.
Remarks: Can modify for future enhancements

[2019-03-29 01:59] fqui8 commented on #17
Fixed the issue of 2 dialogs open. pending and payment summary, or pending and cc details.

Remarks:
- [ ] must only display UNPAID cases

[2019-03-29 04:01] mquijom opened #20 "Error in Login after Changing Password"
**Scene: Change Password then Login**

Remarks:
Got this error when logging in after changing password. But when I refresh the browser, the login module works fine again.
In Console Log: End point extended with path `/secured/accounts` which is wrong.

`Failed to load https://fda-services.herokuapp.com/v1.0/secured/accounts/public/accounts/auth: No 'Access-Control-Allow-Origin' header is present o

[2019-03-29 04:15] VPBelo commented on #2
**Issue**: View License Application didn't display Summary payments details.

**Credentials:**
Username: Chz
Password: Chz123

![ClientsView](https://user-images.githubusercontent.com/34052250/55209198-516a6580-521c-11e9-9895-42e9563e518b.PNG)

- For CVC Field its working now for invalid/valid CVC.
  - Actual Result

![creditcard](https://user-images.githubusercontent.com/34052250/55210045-8d072e8

[2019-03-29 04:56] VPBelo opened #21 "Minor - Error in console "Cannot read property fee of null." but still working in browser."
**Error:** Cannot read property fee of null.
  - Actual Result.

![error5](https://user-images.githubusercontent.com/34052250/55210390-09e6d800-5222-11e9-8d95-c7a1875cbf46.PNG)

[2019-03-29 06:21] fqui8 commented on #17
Fixed. For testing v0.1.26
File path: fda-client-portal/src/views/app/payment/Payment.vue
Resolution:
- [ ] displayed only unpaid cases

[2019-03-29 06:57] VPBelo opened #22 "After clicking Payment in side bar menu didn't display the summary or details."
**Issue:** After clicking Payment in side bar menu didn't display the summary or details.
  - Actual Result

![payment3](https://user-images.githubusercontent.com/34052250/55214888-ec6e3a00-5232-11e9-859d-deccabfcdfa8.PNG)
![payments2](https://user-images.githubusercontent.com/34052250/55214889-ec6e3a00-5232-11e9-9565-c83c0f5dbbf5.PNG)

[2019-03-29 07:43] mquijom commented on #20
Deployment Version: **0.1.26**

Modified File(s):
- **fda-client-portal/api/CaseAPI.js**
- **fda-client-portal/api/LicenseApi.js**
- **fda-client-portal/api/PasswordAPI.js**
- **fda-client-portal/api/PaymentApi.js**
- **fda-client-portal/api/PlacesApi.js**
- **fda-client-portal/api/ProductApi.js**
- **fda-client-portal/api/RegistrationAPI.js**
- **fda-client-portal/api/TaskApi.js**
- **fda-client-

[2019-03-29 07:55] VPBelo opened #23 "Minor - Duplicate session issue"
Issue: When im logged in one tab and if i open another tab. It must display duplicate user or user already logged in.

[2019-03-29 08:24] VPBelo opened #24 "Minor - Output Documents Blank"
**Issue:** Documents files upload empty files.
  - Actual Result

![o](https://user-images.githubusercontent.com/34052250/55219137-12014080-523f-11e9-9b7e-ace549f2f867.PNG)

[2019-03-29 08:30] VPBelo opened #25 "Minor - New License Application didn't display"
Issue: New License Application didn't display Summary payments details.
  - Actual Result

![ClientsView](https://user-images.githubusercontent.com/34052250/55219479-f5193d00-523f-11e9-9fb5-4527c62427a0.PNG)

[2019-03-29 08:49] abalita opened #26 "Major - Payment for Variation of License did not reflect"
Payment process went though magpie but did not update the case's payment status and the record saved in the transaction collection doesn't contain case_no.

Expected Result
- [ ] update case status once payment is accepted
- [ ] payment transaction collection should have case_no

[2019-03-29 08:54] abalita opened #27 "Major - Payment Table does not display payment transactions"
Payment Table is displaying case list instead of payment transactions.

[2019-03-29 08:56] mquijom commented on #25
Deployment Version: **0.1.26**

Modified File(s):
- **fda-client-portal/views/apps/licenses/create/tabs/index.js**
- **fda-client-portal/views/apps/licenses/appoverview/tabs/index.js**
- **fda-client-portal/views/registration/tabs/index.js**

Resolutions:
change `module.exports` into `exports default`

[2019-03-29 09:03] VPBelo opened #28 "Minor - License Number didn't change after submitting for renewal."
Issue: After submitting for renewal License Number didn't change.
  - Actual Result

![eight](https://user-images.githubusercontent.com/34052250/55221207-ecc30100-5243-11e9-94bd-7084d8e76ac9.PNG)

[2019-04-01 01:13] fqui8 commented on #18
@godofuri76
Kindly include this MINOR issue:
- [ ] confirmation message doesn't display the email of the user.
- [ ] no confirmation email received

![Screen Shot 2019-04-01 at 9 09 20 AM](https://user-images.githubusercontent.com/36065227/55298062-02ac0e00-545e-11e9-9138-f68508803e41.png)

[2019-04-01 01:30] fqui8 commented on #18
@Wandelacruz
- [ ] Minor enhancement on colors for consistency

![Screen Shot 2019-04-01 at 9 29 13 AM](https://user-images.githubusercontent.com/36065227/55298499-aa2a4000-5460-11e9-84f7-a34cb4e41489.png)

[2019-04-01 01:52] kyango opened #29 "Minor- Update edit profile stock on the page"
Issue:
After edit and save changes the page is stock on edit profile user content

Expected result:
After saving the new profile (first name and last name) user be able to navigate the app on the sidebar etc.

![image](https://user-images.githubusercontent.com/34019477/55299051-b237af00-5463-11e9-96f1-89d73a7bdfa4.png)

[2019-04-01 02:25] fqui8 opened #30 "New License- Client Portal (related also to Creating new license inside portal)"
**Scenario 1** - Created new license outside portal

**Console errors:**
- while loading page- [ ] TypeError: Cannot read property 'current_task' of undefined
- upon submitting application, payment summary page- [ ] Error: Type of text must be string or Array. "2" is not recognized.

**IMPORTANT ISSUES**
- Form Layout- ZIP Code- manual input instead of autocomplete
- Form LAyout- if checkbox same

[2019-04-01 04:01] fqui8 opened #31 "MAJOR- Client Portal PAYMENT/PAYMENT STATUS"
**Scenario 1: make credit card payment (from license table> selected a case> app overview> payment**
**Result:**
          - successfully paid transaction thru credit card. In license table, payment status does not update. Status still UNPAID
          - select the case again, payment status in app overview is "UNPAID"
          - tried to pay via credit card for the 2nd time, payment successful a

[2019-04-01 04:21] godofuri76 opened #32 "Minor - saves data while editing license form"
License form
warehouse address & qualified personnel it automatically update data on table while editing it even you didn't submit it

additional:
- establishment information
   - tin and phone number validation
- warehouse
   - check box of same office address [not working]
   - saves blank fields

- qualified personnel
   - incomplete tin number
   - accepting expired id
   - mask id number per

[2019-04-01 04:44] fqui8 opened #33 "RENEWAL of License"
**Scenario 1**- renew license
**Result**
- successfully submitted
- payment summary> payment breakdown is invalid. values are 0
![Screen Shot 2019-04-01 at 12 08 22 PM](https://user-images.githubusercontent.com/36065227/55303116-ef596c80-5476-11e9-8287-d55da963b931.png)
**Console error**
- TypeError: Cannot read property 'current_task' of undefined

**Other issues**
- After printing, current task

[2019-04-01 04:59] fqui8 opened #34 "MAJOR- VARIATION of License"
**Scenario 1**- choose variation from license page, fill up details,
**Result**
- cannot submit license
- cannot proceed

**Remarks**
- old values does not display

**Console errors**
vue.runtime.esm.js:1887 TypeError: Cannot read property 'split' of undefined

**Enhancement** (already included in issue #35)
UI
![Screen Shot 2019-04-01 at 12 52 58 PM](https://user-images.githubusercontent.com/3606

[2019-04-01 06:19] fqui8 opened #35 "Minor UI Enhancements fixed 14/20"
**Questions/Remarks**

- [ ] - Application Overview Uploaded files- does not show files uploaded
- [ ] - Form LAyout- if checkbox same as office address selected, details should be pre-filled
![Screen Shot 2019-04-01 at 9 36 55 AM](https://user-images.githubusercontent.com/36065227/55298794-3f7a0400-5462-11e9-93c6-b25505bc245e.png)
- [ ] - remove details in console including password and username

[2019-04-01 08:09] fqui8 opened #36 "Minor- ECPay Payment"
related to issue #31

Question:
- Is it order of payment or reference number that has to be downloaded for the ECPay transaction?
- order of payment is for FDAC/Bank, im not sure if ECPay/Bayad Centers can accept order of payment.
- Reference number is similar to DFA's ePayment wherein users download their reference number and pay at any ecPay suthorized partners
![received_10155666151409150](http

[2019-04-02 07:39] kyango opened #37 "Major- Slow loading of dropdowns"
Slow and hangs page on applying new license have a very slow response on the app.
tried to input region province and city.

expected result:
very smooth user experience

[2019-04-03 02:20] godofuri76 opened #38 "MAJOR - Variation Payment"
Missing: Variation  payment

no data to show

[2019-04-03 03:12] fqui8 opened #39 "Major- Client Payment"
Related to issue #31

Scenario: created new license

Expected Result > **Actual Result**
- after submitting application, client must proceed to payment **> - failed to display payment summary so client can proceed to payment**

[2019-04-03 03:15] mquijom commented on #34
Deployment Version: **0.1.28**

Modified File(s):
- **fda-client-portal/src/views/app/licenses/variations/variations.json**

Resolutions:
change fields `first_name`, `last_name` and `middle_name` to `firstname`, `lastname`, `middlename`

[2019-04-03 04:40] VPBelo commented on #19
Closing this issue.
  - Actual Result

![tooltip1](https://user-images.githubusercontent.com/34052250/55453233-a851af80-560d-11e9-9064-edb683f68c7c.PNG)
![tooltip2](https://user-images.githubusercontent.com/34052250/55453234-a8ea4600-560d-11e9-843d-677554466136.PNG)
![tooltip3](https://user-images.githubusercontent.com/34052250/55453235-a8ea4600-560d-11e9-966f-ada0400c1711.PNG)
![tooltip4](https:/

[2019-04-03 04:40] #19 closed, assigned to Wandelacruz

[2019-04-03 05:08] kyango commented on #24
Issue resolved
![image](https://user-images.githubusercontent.com/34019477/55454195-84906880-5611-11e9-8297-e9106e9f740b.png)

[2019-04-03 05:28] kyango opened #40 "Minor - Application Overview file uploaded"
Issue:
No data displayed on application overview (Summary) for uploaded files and output documents
fda-client-portal/components/ApplicationOverview

Expected result:
User can view the file that been uploaded while searching for the summary of the application

![image](https://user-images.githubusercontent.com/34019477/55454811-d6d28900-5613-11e9-9eee-3100536b3be3.png)

[2019-04-03 06:33] VPBelo commented on #14
**Issue:**  Created by in Summary display the old username.
 - Actual Result
![invaliddate](https://user-images.githubusercontent.com/34052250/55457514-b529cf80-561c-11e9-892a-af7659856d9f.PNG)

[2019-04-03 06:40] VPBelo commented on #14
Closing this issue.
  - Actual Result

![invaliddate2](https://user-images.githubusercontent.com/34052250/55458048-6a10bc00-561e-11e9-9088-f2cdaa424399.PNG)

[2019-04-03 06:40] #14 closed, assigned to mquijom

[2019-04-03 06:48] VPBelo opened #41 "Minor - Created by in Summary payments details didn't display updated username its show old username."
**Issue:** Created by in Summary payments details didn't display updated username its show old username.

Credentials:
Username: Vince
Password: Vince123#
Case Number: l20190304000092

  - Actual Result

![invaliddate](https://user-images.githubusercontent.com/34052250/55458398-734e5880-561f-11e9-83ba-653146be16aa.PNG)

[2019-04-03 06:53] VPBelo commented on #20
Closing this issue.
Credentials:
Username: Vince
Password: Vince123

  - Actual Result

![Reset](https://user-images.githubusercontent.com/34052250/55458651-27e87a00-5620-11e9-8941-68eefdbe775c.PNG)

[2019-04-03 06:53] #20 closed, assigned to mquijom

[2019-04-03 07:07] VPBelo commented on #25
Closing this issue.
Credentials:
Username: Vince
Password: Vince123

  - Actual Result

![ViewApplication2](https://user-images.githubusercontent.com/34052250/55459454-30da4b00-5622-11e9-8971-133c2dabe4a5.PNG)

[2019-04-03 07:07] #25 closed, assigned to mquijom

[2019-04-03 07:34] VPBelo commented on #2
Closing this issue.

[2019-04-03 07:34] #2 closed, assigned to godofuri76, mquijom

[2019-04-03 07:41] VPBelo commented on #22
Closing this issue.
Credentials:
Username: Vince
Password: Vince123

  - Actual Result

![paymentNew](https://user-images.githubusercontent.com/34052250/55461397-eb6c4c80-5626-11e9-954f-5d535cf59bbb.PNG)

[2019-04-03 07:41] #22 closed, assigned to mquijom

[2019-04-03 08:01] VPBelo commented on #24
Closing this issue.
  - Actual Result

![Upload](https://user-images.githubusercontent.com/34052250/55462620-c3cab380-5629-11e9-959b-0bef86936a04.PNG)

[2019-04-03 08:01] #24 closed, assigned to kyango

[2019-04-03 08:07] VPBelo commented on #17
Closing this issue.
Credentials:
Username: Vince
Password: Vince123

  - Actual Result

![payments3](https://user-images.githubusercontent.com/34052250/55462918-7e5ab600-562a-11e9-9f46-1abf026502b7.PNG)

[2019-04-03 08:07] #17 closed, assigned to godofuri76, Wandelacruz

[2019-04-03 08:25] fqui8 opened #42 "Minor- Active License doesnt display new license"
Scenario: License Renewed

Expected Result:
- ACTIVE LICENSE will display the new one

Actual Result:
- failed to display new license in the ACTIVE LICENSE

[2019-04-03 08:48] mquijom commented on #31
Resolutions:
For **Scenario 4**, Card number now accepts **13 - 16 length**.

Remarks
The exact amount will be credited if the mode of payment is Credit Card Payment
Kindly comment below the account and case used in the scenario.
When I tried the case in the attached image, the status turns into `PAID`

![image](https://user-images.githubusercontent.com/34019450/55465733-566e5100-5630-11e9-8c30-8d

[2019-04-03 09:06] VPBelo opened #43 "Major - RENEWAL, PRINT, VARIATION and VIEW FULL LICENSE button should be not displayed for no active license"
**Issue:** RENEWAL, PRINT, VARIATION and VIEW FULL LICENSE button should be not displayed for no active license.

Credentials:
Username: Vince
Password: Vince123

  - Actual Result

![NoActivelicense](https://user-images.githubusercontent.com/34052250/55466838-96363800-5632-11e9-9f78-3fb44e766880.PNG)

[2019-04-03 09:34] mquijom commented on #43
Deployment Version: **0.1.29**

Modified File(s):
- **fda-client-portal/src/components/ActiveLicense.vue**

Resolution:
Create a `No Active License` sign if there is no active license.

![image](https://user-images.githubusercontent.com/34019450/55468774-b10aab80-5636-11e9-973b-c393b2d7649b.png)

[2019-04-03 09:59] mquijom commented on #41
Deployment Version: **0.1.29**

Modified File(s):
- **fda-client-portal/src/views/app/licenses/appoverview/tabs/AppHistory.vue**
- **fda-client-portal/src/views/app/licenses/appoverview/tabs/AppSummary.vue**

Resolution:
Remove `Created By` in design because it is not necessary.

[2019-04-03 10:19] VPBelo commented on #34
Closing this issue.
Credentials:
Username: Chz
Password: Chz123

  - Actual Result

![VariationNew](https://user-images.githubusercontent.com/34052250/55471765-0f3a8d00-563d-11e9-946f-b2a50c277ead.PNG)

[2019-04-03 10:24] mquijom commented on #42
Deployment Version: **0.1.29**

Modified File(s):
- **fda-services-lto/api/routes/license_router.js**
- **fda-services-lto/api/dao/LicenseDao.js**

Resolutions
Sort license descending to get the latest.

[2019-04-03 10:29] mquijom commented on #40
Deployment Version: **0.1.29**

Modified File(s):
- **fda-client-portal/app/licenses/appoverview/tabs/Files.vue**

Resolution
Display the uploaded files.

[2019-04-03 23:43] abalita opened #44 "MAJOR - Additional Activities are not saved in the DB"
Additional activities are not saved in the DB

[2019-04-03 23:57] abalita commented on #44
- Fixed. For testing v0.1.29
 - Modified file(s): fda-services-lto/api/models/LicenseModel.js

[2019-04-04 01:36] fqui8 opened #45 "Client Account with limited access doesnt show recent activity"
![Screen Shot 2019-04-04 at 9 32 39 AM](https://user-images.githubusercontent.com/36065227/55523673-caeed180-56bc-11e9-84bd-63b830a8f05b.png)

Scenario: Cashier approved case

Expected Result:
- will display in recent activity

Actual Result:
- failed to show

[2019-04-04 01:55] mquijom opened #46 "Fee of null and total of null"
**Scenario: Payment module**

- Error:
Got a console message `fee of null` and `total of null` then didn't display the payment summary.

- Remarks
Lack of data in database Fees Model.

[2019-04-04 01:56] mquijom commented on #31
Relating this issue to #46

[2019-04-04 02:50] fqui8 opened #47 "MAJOR- Payment Credit Card (in Variation)"
related to issue #39, #31

**scenario 1:**
- applied variation > fill up > payment > credit card > submit > loading (failed to submit) > cancel > payment status unpaid

expected result:
- will cancel payment. payment status still unpaid

actual result:
- cc payment did not go through but still trying to submit.
- submit button still loading for trying to submit

**scenario 2:**
- tried to apply an

[2019-04-04 02:59] mquijom opened #48 "Duplicate company"
**Scenario: Apply for 2 New License with same Company and same authorized personnel**

- Expected Result
Cannot apply with the same company and same authorized personnel

- Actual Result.
Can proceed with it.

- Todo's
- [ ] Create a `Company` Model and `Authorized Personnel` Model
- [ ] Validate company by company name
- [ ] Validate authorized personnel by ` last name, first name, middle name, e

[2019-04-04 03:25] VPBelo commented on #43
Closing this issue.
  - Actual Result

![variationNoActive](https://user-images.githubusercontent.com/34052250/55527569-33917a80-56cc-11e9-85d8-8b294ec5e363.PNG)

[2019-04-04 03:25] #43 closed, assigned to mquijom

[2019-04-04 03:26] VPBelo commented on #41
Closing this issue.
  - Actual Result

![DateSubmitted](https://user-images.githubusercontent.com/34052250/55527625-78b5ac80-56cc-11e9-873e-641c5c938a26.PNG)

[2019-04-04 03:26] #41 closed, assigned to mquijom

[2019-04-04 04:46] VPBelo commented on #42
Closing this issue.
  - Actual Result

![Activelicense](https://user-images.githubusercontent.com/34052250/55530182-9d635180-56d7-11e9-8b66-1bde245780f4.PNG)
![Activelicense1](https://user-images.githubusercontent.com/34052250/55530183-9d635180-56d7-11e9-9d5e-402eaef65fd0.PNG)

[2019-04-04 04:46] #42 closed, assigned to mquijom

[2019-04-04 05:00] VPBelo opened #49 "Minor - Recommend for Compliance in Recent Activity didn't display current task."
Scenario: Current task is Inspection, As per approver case is recommended for Inspection not for compliance but Recent Activity in client portal display recommend for Compliance.

Credentials:
Username: Vince
Password: Vince123

 - Expected Result
    [ ] Recommend for Inspection

 - Actual Result

![Recommended](https://user-images.githubusercontent.com/34052250/55530603-56765b80-56d9-11e9-8ecc-8

[2019-04-04 07:56] mquijom commented on #38
Remarks
Some of the applications didn't show the payment summary because of this issue #46

![image](https://user-images.githubusercontent.com/34019450/55538842-e922f480-56f1-11e9-9d84-6f0ef5326939.png)

[2019-04-04 07:58] mquijom commented on #47
Please comment below the account and case used in this test case.

[2019-04-04 08:02] fqui8 opened #50 "One email address use in multiple registration"
Scenario: Register new license multiple times using the same email address ftquiocho@gmail.com

Username: Chz, Chz2, Chz3, Chz4, Chz5

Actual Result:
- Successfully registered 5 new licenses using 1 email address
- 4 limited access, 1 full access

Question/Remarks:
- is this ok?

[2019-04-04 08:04] mquijom commented on #50
Relating this issue to #48

[2019-04-04 08:26] mquijom commented on #49
Deployment Version: **0.1.30**

Modified File(s):
- **fda-client-portal/src/plugins/mixins.js**
- **fda-client-portal/src/components/UserActivity.vue**

Resolution:
The message returns `Recommend for Compliance` always if the action is for the recommendation.
Include the task that is recommended.

![image](https://user-images.githubusercontent.com/34019450/55540832-5c2e6a00-56f6-11e9-89f2-1c2c7075

[2019-04-04 08:27] mquijom commented on #45
Hi. Please comment below the account used in this test case. Thanks

[2019-04-04 09:12] fqui8 opened #51 "Limited Access- Disapproved case"
Scenario:
-client has limited access to the portal. Has a pending application.

Actual Result:
- Application has been denied by the Central Director.
- Successfully received letter of disapproval
- Client is stucked in the portal. No idea on what to do next after receiving letter of disapproval

Remarks/Questions:
- can client appeal using the portal?
- what to do after case has been disapproved?

[2019-04-04 09:17] mquijom commented on #29
Hi. Please comment below the account used in this test case

[2019-04-05 02:26] fqui8 opened #52 "File Upload in Compliance Dialog (Dashboard)"
Account used: Chz. PW: Chz123
Scenario:
- Selected a case for compliance > upload files (did not submit)
          Selected another case for compliance > uploaded files from previous case still there.

Expected Result:
- will re- init. If client close the dialog, files that hasnt been submitted will not remain.
- can upload only PDF files. FDA requires only PDF files to be uploaded

Actual Result:

[2019-04-05 02:46] fqui8 opened #53 ""Apply New button" in License Table"
1 client can only apply for 1 license- do we still need the "Apply New button" in the License table

[2019-04-05 03:19] mquijom opened #54 "MAJOR - Payment Summary missing at first load"
**Scenario: Trying to pay for an application fee**
Username: **mquijom**
Password: **Mark123**
Case No: **l20193103000048**
Application Type: **Renewal**

- Steps to replicate:
1. Login with given user credentials (Must start with this step to show the error)
2. Click Licenses.
3. Search for the given case no with the given application type then click it.
4. Navigate to Payment Summary (Payment Su

[2019-04-05 03:56] fqui8 opened #55 "Files Upload in New License application"
Chz
Chz123

Scenario:
- applied new license > file upload in step 6
       - uploaded 2 files at the same time (png file)
       - added 1 pdf file after

Actual Result:
- passed. files uploaded.
- BUT app overview shows 5 files uploaded instead of 3

![Untitled](https://user-images.githubusercontent.com/36065227/55602775-d06e1980-5799-11e9-9a78-666891b6dee9.png)

[2019-04-05 05:40] fqui8 opened #56 "No case number displayed in Payments table"
Chz
Chz123

Scenario: apply new license > submit > pay

Actual Result:
Done payment. Redirected to payments table. But case number doesnt show

![Screen Shot 2019-04-05 at 1 26 54 PM](https://user-images.githubusercontent.com/36065227/55605655-26e25480-57a8-11e9-9944-d23602bf4f47.png)

[2019-04-05 07:43] fqui8 commented on #55
For future enhancement: remove button or (-) to remove a specific file before uploading
![Screen Shot 2019-04-05 at 3 37 59 PM](https://user-images.githubusercontent.com/36065227/55611911-84cb6800-57b9-11e9-829c-e96a600bb269.png)

[2019-04-05 07:43] VPBelo commented on #49
Closing this issue.
  - Actual Result

![Inspections](https://user-images.githubusercontent.com/34052250/55611915-872dc200-57b9-11e9-9f82-0e49eddfa72d.PNG)

[2019-04-05 07:43] #49 closed, assigned to mquijom

[2019-04-08 08:08] VPBelo commented on #44
Closing this issue.
  - Actual Result

![additionalNew](https://user-images.githubusercontent.com/34052250/55708457-8f376d00-5a18-11e9-811e-b195031a6154.PNG)

[2019-04-08 08:08] #44 closed, assigned to abalita

[2019-04-08 08:12] VPBelo commented on #40
Closing this issue.
  - Actual Result

![UploadFiles](https://user-images.githubusercontent.com/34052250/55708667-0bca4b80-5a19-11e9-8ead-d53fb7185d7d.PNG)

[2019-04-08 08:12] #40 closed, assigned to mquijom

[2019-04-11 08:32] fqui8 opened #57 "Existing License"
Client cannot proceed to step 4 even if license is found.

used the ff details:
![Screen Shot 2019-04-11 at 4 20 30 PM](https://user-images.githubusercontent.com/36065227/55942502-1124d180-5c77-11e9-90d8-3c604da46bb2.png)

cannot proceed to step 4
![Screen Shot 2019-04-11 at 4 11 15 PM](https://user-images.githubusercontent.com/36065227/55941755-7972b380-5c75-11e9-9ff9-623516ee3baa.png)

[2019-04-11 08:57] fqui8 opened #58 "Resend Confirmation Email"
Re-send confirmation in email doesn't work.

![Screen Shot 2019-04-11 at 4 56 36 PM](https://user-images.githubusercontent.com/36065227/55944249-cb6a0800-5c7a-11e9-8960-b65e714b99ea.png)

[2019-04-12 02:33] fqui8 opened #59 "Print & Renew in active license on v0.1.35"
Print button not working for active license
Console error: Uncaught (in promise) TypeError: Cannot read property 'address' of undefined

Renew button opens old application overview
![Screen Shot 2019-04-12 at 10 05 23 AM](https://user-images.githubusercontent.com/36065227/56008261-387aad80-5d0e-11e9-926c-d0f06d906a53.png)

[2019-04-15 01:53] fqui8 commented on #35
Unchecked lists not applicable anymore. New ui has been implemented. Closing this issue

[2019-04-15 01:53] #35 closed, assigned to nobody

[2019-04-15 01:55] fqui8 commented on #37
This issue is already fixed. New UI has been implemented. Closing this issue

[2019-04-15 01:55] #37 closed, assigned to godofuri76

[2019-04-15 01:57] fqui8 commented on #18
This issue has been fixed. New UI has been implemented.
Closing this issue and opened a new one related to issue #57

[2019-04-15 01:57] #18 closed, assigned to godofuri76

[2019-04-15 02:20] fqui8 commented on #30
This issue is not applicable to the new UI. Closing this now

[2019-04-15 02:20] #30 closed, assigned to nobody

[2019-04-15 02:32] fqui8 commented on #31
This issue is not applicable to the new UI layout. Closing this issue now

[2019-04-15 02:32] #31 closed, assigned to mquijom

[2019-04-15 02:32] fqui8 commented on #39
This issue is not applicable to the new UI layout. Closing this issue now

[2019-04-15 02:32] #39 closed, assigned to nobody

[2019-04-15 03:18] fqui8 opened #60 "Uploaded files in compliance"
Scenario: client uploaded 2 additional files for compliance.

Expected Result:
- can upload and submit

Actual Result:
- successfully uploaded and submitted, BUT in License Summary, it doesnt show the two (2) additional files uploaded.

![Screen Shot 2019-04-15 at 11 08 38 AM](https://user-images.githubusercontent.com/36065227/56105648-de792280-5f6f-11e9-9105-36c6afb30f60.png)
![Screen Shot 2019-0

[2019-04-15 03:29] fqui8 commented on #55
Issue is fixed.
Remove button for each file for future enhancement. Will park this issue

[2019-04-15 03:30] #55 closed, assigned to nobody

[2019-04-15 04:10] abalita commented on #57
- Fixed.Please retest on v1.0.37
- Modified file(s): fda-client-portal/src/views/registration/Existing.vue

[2019-04-15 06:04] fqui8 commented on #21
Issue not applicable. New UI has been implemented.
Closing this issue.

[2019-04-15 06:04] #21 closed, assigned to nobody

[2019-04-15 07:23] fqui8 opened #61 "Payment FDAC, CC, Pay later"
Account: Chz2,
Chz123
Limited Access

-Scenario: will pay thru FDAC
-Actual result:
Does not generate order of payment
Console error: Uncaught (in promise) TypeError: Cannot read property 'address' of undefined

-Senario 2: will pay thru CC
-Actual Result:
does not re-init when cancelled
issue related to #47 (tried to cancel payment but still submitting payment. cancel only closes dialog)
failed t

[2019-04-16 02:28] fqui8 opened #62 "Payment via Credit card from New Registration module"
Account Registered: Chz
PW: Chz123

Scenario: Last step of registration > Payment > Credit Card > Submit
![Screen Shot 2019-04-16 at 10 08 51 AM](https://user-images.githubusercontent.com/36065227/56177450-417ebe00-6031-11e9-90de-d91c1d247bb9.png)

-Actual Result:
Network error, no error or confirmation message, but downloaded receipt
Checked payments in license summary, i accidentally paid 3x. No

[2019-04-16 03:20] fqui8 commented on #34
Reopen issue. same error.
-cannot proceed to variate if client choose all variation (minor and major)

- **scenario 1**
when submitting variation, **(Inclusion of product (finished or raw material) and/or product line)** console error below. dialog doesnt close.
![Screen Shot 2019-04-16 at 12 43 39 PM](https://user-images.githubusercontent.com/36065227/56182555-4d747b00-6045-11e9-8054-85a0d8540232

[2019-04-16 04:54] fqui8 opened #63 "Question Payment"
What if i accidentally click a button outside the payment summary with modes of payment?Payment window will be closed and there's no way for the client to pay the application.

[2019-04-16 06:23] abalita commented on #59
- Fixed. Re-test on v0.1.37

[2019-04-16 06:27] abalita commented on #63
@godofuri76 is already working on this.

there will be an option to pay under the license summary - payment section

[2019-04-16 06:27] #63 closed, assigned to nobody

[2019-04-16 06:29] abalita commented on #54
Closing this issue as the license renewal page is no longer using the old application overview

[2019-04-16 06:29] #54 closed, assigned to nobody

[2019-04-16 06:42] abalita commented on #26
closing this issue. implemented enhancements on the payment module

[2019-04-16 06:42] #26 closed, assigned to nobody

[2019-04-16 07:00] abalita commented on #27
closing this issue. This is already done.

[2019-04-16 07:00] #27 closed, assigned to nobody

[2019-04-16 07:04] abalita commented on #33
closing this issue. New renewal process is already implemented.

[2019-04-16 07:04] #33 closed, assigned to nobody

[2019-04-16 07:07] abalita commented on #29
Closing this issue. Can no longer replicate the error.

[2019-04-16 07:07] #29 closed, assigned to nobody

[2019-04-16 07:08] abalita commented on #46
Closing issue. Fees tables are now populated.

[2019-04-16 07:08] #46 closed, assigned to kyango

[2019-04-16 07:16] abalita commented on #62
closing issue. can't replicate error.

[2019-04-16 07:16] #62 closed, assigned to nobody

[2019-04-16 08:40] abalita commented on #32
- Fixed. for testing v0.1.38

[2019-04-16 12:40] abalita commented on #58
removing the resend confirmation button, closing this issue for now.

[2019-04-16 12:40] #58 closed, assigned to nobody

[2019-04-17 03:08] fqui8 commented on #59
fixed. can now print & renew.

Remarks for future enhancement:
- Client must renew license only once or depending on the number of days allowed before expiration date. Renew button should be hidden or disabled once renewal has been made
![Screen Shot 2019-04-17 at 1 11 32 PM](https://user-images.githubusercontent.com/36065227/56262687-626b1000-6112-11e9-9aa4-78f8fcb49f68.png)

[2019-04-17 04:05] fqui8 commented on #57
Tested both accounts in mongodb.
euro med- successful
drugs store- not found.
will park this issue for now

account used: euro med.
email used: ftqmobilestudio@gmail.com  instead of ariel.a.balita@gmail.com
result: ftq- successful
           ariel- acount already exist
![11](https://user-images.githubusercontent.com/36065227/56260163-ba9d1480-6108-11e9-90c4-8b29f82d8671.PNG)

account used: Drugs S

[2019-04-17 04:25] fqui8 commented on #28
This is already fixed. Closing this issue now

[2019-04-17 04:25] #28 closed, assigned to nobody

[2019-04-22 01:45] fqui8 commented on #50
Issue re multiple email use in registration fixed.

closing this issue now

[2019-04-22 01:45] #50 closed, assigned to nobody

[2019-04-22 07:31] fqui8 commented on #45
Tested in v. 0.1.41. Issue has been fixed.

[2019-04-22 07:31] #45 closed, assigned to nobody

[2019-04-23 08:28] abalita commented on #36
Closing this issue.
EC pay integration is not yet available.
The current behavior is just for mock-up purposes only.

[2019-04-23 08:28] #36 closed, assigned to nobody

[2019-04-23 08:29] abalita commented on #47
Closing this issue.
Issue is not applicable to the new variation module.

[2019-04-23 08:29] #47 closed, assigned to nobody

[2019-04-23 08:30] abalita commented on #34
Closing issue.
New Variation module implemented.

[2019-04-23 08:30] #34 closed, assigned to mquijom

[2019-04-25 00:27] abalita commented on #38
Closing this issue. May not be applicable to the new variation module

[2019-04-25 00:27] #38 closed, assigned to mquijom

[2019-04-25 00:28] abalita commented on #10
Closing this issue. New application overview is already implemented.

[2019-04-25 00:28] #10 closed, assigned to godofuri76

[2019-04-25 23:38] mquijom commented on #60
Deployment Version: **0.1.46**

Modified File(s):
- **fda-clients-portal/src/components/Compliance.vue**

Resolutions:
get `formData` from Upload Components

[2019-04-25 23:47] mquijom commented on #52
Deployment Version: **0.1.46**

Modified File(s):
- **fda-client-portal/src/components/Uploader.vue**

Resolutions:
Apply `this.reset()` function in created to reset the form to the initial state

[2019-04-27 07:59] mquijom commented on #48
Deployment Version: **0.1.46**

Modified File(s):
- **fda-services-lto/api/routes/license_router.js**
- **fda-services-accounts/api/routes/registration_router.js**
- **fda-services-accounts/api/dao/LicenseDao.js**

Resolutions:
Add a validation: Unique Establishment Name, TIN or Email

![image](https://user-images.githubusercontent.com/34019450/56846744-67477500-6905-11e9-99c8-c6d3a4df7c07.png)

[2019-05-25 05:49] VPBelo opened #64 "Major - RENEWAL, VARIATION and LICENSE NUMBER not displayed."
Issue: RENEWAL, VARIATION button not displayed and LICENSE NUMBER.

Credentials:
Username: Vince
Password: Vince123

Actual Result

![Selection_275](https://user-images.githubusercontent.com/34052250/58365225-9ac0f380-7ef3-11e9-9dc5-153de8c03c8d.png)

[2019-06-04 02:33] VPBelo opened #65 "Minor - Existing License failed to match existing license and can't send email confirmation."

[2019-06-04 02:36] VPBelo commented on #65
Issue: failed to match existing license and can't send email confirmation that a new account has been created and ready to access fda 3.0.

Credentials:
Username: Vince
Password: Vince123

Actual Result

![Selection_282](https://user-images.githubusercontent.com/34052250/58847140-64823180-86b4-11e9-8328-709d7027ba07.png)
![Selection_281](https://user-images.githubusercontent.com/34052250/58847142-

[2019-06-06 00:27] abalita opened #66 "Food Certificate Application Form"
Apply New Food Certificate

[2019-06-06 00:28] abalita opened #67 "Certificate Payment Module"

[2019-06-06 00:28] abalita opened #68 "Push Notification"

[2019-06-06 01:10] mquijom opened #69 "Page for denied certificate application"
**Steps:**

- Create page for denied certificate application
- Email template

[2019-06-07 01:44] mquijom commented on #66
todos

- [x] API call value mapping
- [x] uploading of file attachments

[2019-06-07 01:45] mquijom commented on #68
- [ ] for testing

[2019-06-11 01:16] mquijom commented on #66
- [ ] Dropdown items

[2019-06-11 01:27] mquijom commented on #67
- Todo
- [x] Update Payment API
- [x] Implementation on DB
- [x] Implement of payment on portals

[2019-06-13 02:38] abalita commented on #67
for testing

[2019-06-13 02:41] abalita commented on #69
for testing.
for integration with fda-services-certification.

[2019-06-17 02:24] abalita opened #70 "variation of certificate"

[2019-06-17 02:34] abalita commented on #70
- [x] payment issue (application type)
- [x] client's payment api for variation
- [x] front-end - application form
- [x] back-end implementation

[2019-06-17 02:36] abalita opened #71 "renewal of certificates"

[2019-06-17 02:43] abalita commented on #71
- [x] front-end implementation
- [x] uploading of new documents
- [ ] api for renewal of certificates

[2019-06-18 02:16] mquijom commented on #70
Done as of 06/18/19.
For Testing.

[2019-06-18 02:27] mquijom opened #72 "Client's Payments Module"
- *Payments for both License and Certificate*

- [x] Credit Card
- [x] EC Pay
- [x] FDAC

[2019-06-18 09:07] mquijom commented on #72
Done as of 06/18/19.
For testing.

[2019-06-19 01:21] mquijom commented on #72
Add another task:

- [x] PDF of EC Pay
- [x] PDF of FDAC

[2019-06-20 02:21] abalita opened #73 "certificates table"

[2019-06-20 02:25] abalita commented on #71
- no need for attachments
- mapping of values (mixins issue)

[2019-06-20 02:27] abalita commented on #72
- [x] payment computation issue on certificate - api

[2019-06-21 01:16] abalita commented on #73
done.

[2019-06-21 01:33] abalita commented on #72
done

[2019-06-21 01:59] abalita commented on #71
- [x] certificate model update
- [x] modify saving of initial certificate
- [x] application overview
- [x] renewal
- [x] payment
- [x] save/payment button should be placed on the bottom panel

[2019-06-24 02:54] abalita opened #74 "license and certificate verification via qr code"

[2019-06-24 02:55] abalita commented on #74
for testing

[2019-06-24 02:57] abalita opened #75 "cosmetics application - flow analysis"

[2019-06-24 02:58] abalita opened #76 "license - certificate link on variation"

[2019-06-24 02:58] abalita opened #77 "data validation on certificate application"

[2019-06-24 02:59] abalita opened #78 "pre-populate certificate details from active license"

[2019-06-25 02:37] abalita commented on #75
- [ ] flowchart

[2019-06-25 02:39] abalita commented on #78
- [x] address
- [x] region

[2019-06-25 09:13] VPBelo commented on #77
done with data validation on certificate application.

[2019-06-26 02:16] abalita commented on #71
- [x] declaration screen

[2019-06-26 02:17] abalita commented on #76
- [x] backend implem
- [x] display

[2019-06-27 02:37] abalita commented on #71
- [x] food category by  id
- [x] app overview error
- [x] nutrition claims and info on app overview/form/
- [x] establishment information validation
- [x] edit table entries
- [x] nutrition health claims

[2019-06-27 02:50] abalita opened #79 "product type selection flow"

[2019-06-27 02:51] abalita opened #80 "cosmetics form"

[2019-06-27 05:23] VPBelo commented on #71
done with app overview error.

[2019-07-02 01:04] abalita opened #81 "toys application form"

[2019-07-02 01:05] abalita opened #82 "cosmetics and toys API endpoints implementation"

[2019-07-02 01:06] abalita commented on #82
- [x] toys API endpoint
- [x] cosmetics API endpoint
- [x] toys model
- [x] cosmetics model

[2019-07-02 01:07] abalita opened #83 "payment integration (cosmetics and toys)"

[2019-07-02 01:11] abalita commented on #80
- [x] ui / layout
- [x] bindings
- [x] actions / methods
- [ ] validations

[2019-07-02 01:14] abalita commented on #81
- [x] ui
- [x] bindings / v-model
- [ ] actions / methods
- [ ] validations

[2019-07-02 01:24] abalita opened #84 "application overview"

[2019-07-03 05:48] VPBelo commented on #81
done with ui and bindings.

[2019-07-05 01:32] VPBelo commented on #81
done with  actions / methods.